body{
  background-color: #d6e6b7
}

h1{
  text-align: center; font-size: 90px; color:#607873
}
img{
  width: 30%
}
p{
text-align: justify; font-size: 25px; color: #010002
}
h1{
  text-align: center; font-size: 85px; color: #213635
}
